.main{
    background-color: #e2e8f0;
    .body{
        max-width: 390px;
        .logo{
            font-size: 30px;
            width: 50%;
            margin: auto;
            a {
                color: black;
            }
        }
    }
}